# Replace x.x.x.x with the IP address of your PXE server

default menu.c32
prompt 1     # Shows the boot menu and allows selection
timeout 150  # 15 second countdown before auto-select
ONTIMEOUT local

menu title ### Rocky Linux 9.6 Boot Menu ###

LABEL rocky
  MENU label ^1) Install Rocky Linux 9.6
  KERNEL pxe-boot/vmlinuz		# Kernel file from the TFTP server
  APPEND initrd=pxe-boot/initrd.img inst.zram=1 inst.repo=http://x.x.x.x/rocky

